.main {
    padding: 40px;
    text-align: center;
    width: 100%;
}
.main h2 {
    color: blueviolet;
    text-decoration: underline;
}
.main h3 {
    padding-top: 40px;
    color: blue;
    text-decoration: underline;
}
