.main {
    width:70%;
    margin-left: 15%;
    background-color: rgb(235, 227, 238);
    padding-bottom: 40px;
}
.main h2{
    color: darkviolet;
    padding-top: 20px;
    height: 50px;
}


.main h3{
    color:#123465;
    height: 40px;
    padding-top: 20px;

}
.box1 {
    display: inline-block;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 50px;
    border:5px;
    width:80%;
    border-radius: 10px;

}
.main h2,.main h3{
    text-align: center;
}
.main h3{
    text-decoration: underline;
}


.box1 p{
    text-align: center;
    padding-left: 20px;
    padding-top: 20px;
    color:#003456;
}
#name{
    color:#0ec208;
}
.box1 img{
    
    height:180px;
    width:140px;
    border-radius: 140px;
    float: left;
}
.box1:hover{
    border: #708090 solid 2px;
    background-color: floralwhite;
}
.main ol{
    padding-left: 30px;
    padding-right: 20px;
}
.main ol a{
    text-align: justify;
    color: rgb(76, 29, 121);
}