.main{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
h2 {
    text-align: center;
    height: 50px;
    padding-top: 20px;
}
h3{
    text-align: center;
    color: indigo;
}
h4{ 
    padding-top: 10px;
    text-align: center;
}
.tab1 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.tab1 td{
    padding: 10px;
    text-align: justify;
    color: darkblue;
}
.tab2 {
    padding-top: 20px;
    border: lightcoral solid 1px;
    border-collapse: collapse;
}
.tab2 th{
    color: rgb(28, 184, 28);
    background-color: rgb(255, 215, 255);
    border: lightcoral solid 1px;
    border-collapse: collapse;
}
.tab2 td {
    border: lightcoral solid 1px;
    border-collapse: collapse;
}
.tab3 {
    padding-top: 40px;
    border: lightcoral solid 1px;
    border-collapse: collapse;
}
.tab3 th{
    color: rgb(28, 184, 28);
    background-color: rgb(255, 215, 255);
    border: lightcoral solid 1px;
    border-collapse: collapse;
}
.tab3 td {
    border: lightcoral solid 1px;
    border-collapse: collapse;
}
.tab4 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-collapse: collapse;
}
.tab4 td {
    padding: 10px;
}