.main {
    width:70%;
    margin-left: 15%;
    text-align: center;
    background-color: rgb(235, 227, 238);
}
.main h2{
    color: darkviolet;
    padding-top: 20px;
    height: 50px;
}
.main p{
    color: rgb(39, 102, 219);
    padding-top: 10px;
    text-align: justify;
    padding: 10px;
}

.main h3{
    color:#123465;
    height: 40px;
    padding-top: 20px;

}
.box-faculties {
    display: inline-block;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 50px;
    border:5px;
    width:80%;
    border-radius: 10px;

}

.box-faculties a{
    display:block;
    padding-top: 10px;
    text-align: left;

}
.box-faculties a{
    color:#003456;
}
#name{
    color:#0ec208;
}
.box-faculties img{
    padding-right: 30px;
    height:180px;
    width:140px;
    float: left;
}
.tab1{
    margin-left: 15%;
    text-align: left;

}
.tab1 th{

    text-align: center;
    padding-inline-start: 5px;
}
.tab1 td{
    padding: 10px;
    padding-inline-start: 5px;
}
.incharge {
    width: 25%;
}
.box-faculties:hover{
    border: #708090 solid 2px;
    background-color: aliceblue;
}
.dep p{
    padding-left: 40%;
    text-align: left;
}
.dep a{
    padding-left: 30px;
}
.dep h4{
    padding-top: 40px;
}