
/*++++++++++++Desktop View++++++++++*/

body {
        display: grid;
        /*- grid areas
        menu-bar
        wraper
        main
        notice-bar
        footer
        -*/
        background-color:#fff;   
        grid-template-rows:50px 10rem auto auto 25rem;
        grid-template-columns:1fr ; 
        grid-template-areas:
        "menu-bar"
        "wraper"
        "main"
        "notice-bar"
        "footer"
        ;
}
/*-------Navigation---------*/
* {
    margin:0;
    padding:0;
}
.menu-bar {
    background-color: #708090;
    grid-area: menu-bar;
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    width:100%;
    z-index:2;
}
.menu-bar ul {
    list-style: none;
    margin-top:0;
    text-align: center;

}
.menu-bar ul li {
    background: #708090;
    width: 135px;
    /*border: 0.5px solid #fff;
    /*height:px;*/
    line-height: 50px;
    text-align: center;
    float: left;
    color:#fff;
    font-size: 14px;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;

}

.menu-bar ul ul {
    display: none;
    height:40px;

}

.menu-bar ul ul  li {
    text-decoration:none;
    width:200px;
    height:40px;
    color:#fff;
    z-index: 1;
}
.menu-bar ul ul ul li{
    text-decoration:none;
    width:300px;
    color:#fff;
}
.menu-bar ul ul ul {
    margin-left:200px;
    width:190px;
    top:0;
    position: absolute;
    color:#fff;
}


.menu-bar ul li:hover > ul{
    display:block;
    color: #708090;
}
.menu-bar ul ul :hover > a{
    background-color: #ffffff;
    color: #708090;
}
.menu-bar ul ul a{
    color:#ffffff;
}
.menu-bar ul a{
    text-decoration: none;

}
.menu-bar ul li:hover {
    background-color:#fff;
    color:#708090;
    height:50px;
}
/*-----------------Header--------------*/
.wraper{
    grid-area: wraper;
	padding-top:60px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-auto-rows:minmax(100px, auto);
    background-color:#708090;
    color: #ffffff;
}
.header {
    margin-right: 20px;
    margin-left: 20px;
    grid-area:header;
    grid-column:1/4;
    grid-row:1;
}
.header h1{
    font-size: 40px;
    padding-left: 100px; 
}
.header p{
    font-size: 20px;
    padding-left: 100px; 
}


#login {

    grid-area:login;
    grid-column:4/4;
    grid-row:1;
}
#Login a {
	text-decoration:none;
	color:#fff;
	background-color: #708090;
}
#Login a:hover {

	color:#708090;
	background-color: #fff;
}
.header img{
    padding-top:0px;
    float: left;
    height:80px;
    width:80px;
}
/* ----- Footer ----*/
footer {
    grid-area:footer;
    background-color: #708090;
    margin-bottom: 0;
    margin-left:0;
    margin-right: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    width:100%;

}
 .row-container {
    box-sizing: border-box;
  }
  .row-container:after {
    content: "";
    display: table;
    clear: both;
}
.row-container h3 {
    text-align: center;
    color: aliceblue;
    font: bold;
    font-size:24px;
}
.column {
    float: left;
    width: 23%;
    padding: 1%;
    height: 300px; 
}
.column ul li{
    list-style: none;
    padding-top: 10px;

}

.column ul li  a{
    color: rgb(255,255,255);
    text-align: left;
    padding-top: 10px;
    text-decoration: none;
    
}
.column ul ul a{
    padding-left: 20px;
}
.row-container ul ul {
    display: none;

}
.row-container ul li:hover > ul{
    display: block;
}
.row-container ul li:hover > a{
    color: darkturquoise;
}
.copyright-sign {
    padding-top: 20px;
    color: #fff;
    text-align: center;
    background-color: #706080;
    height: 50px;
    margin-bottom: 0;
}
.main {
    grid-area: main;
    padding-bottom: 10px;
}
.notice-bar {
    grid-area:notice-bar;
}
.column iframe{
    padding-top: 20px;
}




