.main {
    width:80%;
    margin-left: 9%;
    margin-right: 9%;
    background-color:rgb(235, 227, 238);
    padding-bottom: 20px;
}
.main h2{
    text-align: center;
    color: purple;
}
.main h3{
    text-align: center;
    padding-top: 20px;
}
.main h4, .main a{
    text-align: justify;
    padding: 20px;
}
.main p{
    padding: 10px;
    text-align: justify;
}