.main {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(235, 227, 238);
    padding-bottom: 40px;
}
.main h2{
    color: #00ff;
    padding-top: 40px;
    text-align: center;
    height: 60px;
    background-color:#00ffff;
}
.main h3 ,.main h4{
    padding-top: 30px;
    text-align: center;
}
.tab1 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: steelblue solid 1px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}  
td{
    border: 1px solid rebeccapurple;
    text-align: left;
    padding: 8px;
  }
th {
    border: 1px solid rebeccapurple;
    text-align: center;
    padding: 8px;
}
.tab1:hover{
    background-color: rgb(255, 245, 238);
}
